.navbar {
<<<<<<< HEAD
  background: #01323c;
  padding: 1rem;
  
=======
  background: #222;
  padding: 1rem;
>>>>>>> 574326a158e4cee6ff6a88414abb271dca93d37f

  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }

  li {
    a {
      color: #fff;
      text-decoration: none;

      &.active {
        border-bottom: 2px solid #fff;
      }
    }
  }
}
